<h2 mat-dialog-title>Add Subject to Course</h2>
<mat-dialog-content class="mat-typography">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Course</mat-label>
        <mat-select [(ngModel)]="courseName">
          <mat-option  *ngFor="let cour of courseSelect" [value]="cour">
            {{cour.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
        <h3>Selected Subjects</h3>
        <h4 *ngFor="let s of subj">{{s}}</h4>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="addSub()">Confirm</button>
</mat-dialog-actions>