<h2 mat-dialog-title>New Schedule</h2>
<mat-dialog-content class="mat-typography">
  <div *ngIf="!loading">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Choose Course</mat-label>
      <mat-select [(ngModel)]="courseName" (selectionChange)="onSelectCourse($event)">
        <mat-option *ngFor="let cour of courseSelect" [value]="cour" >{{cour.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Choose Subject</mat-label>
      <mat-select [(ngModel)]="subjectName" [disabled]="isSubDisabled">
        <mat-option *ngFor="let sub of subjectSelect" [value]="sub" >{{sub.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Choose Ambient</mat-label>
      <mat-select [(ngModel)]="ambientName">
        <mat-option *ngFor="let amb of ambientSelect" [value]="amb">{{amb.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Pick a date</mat-label>
      <input matInput [matDatepicker]="datepicker" [(ngModel)]="startDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>What time does it start?</mat-label>
      <mat-select [(ngModel)]="startTime" (selectionChange)="onSelectTime($event)">
        <mat-option *ngFor="let tim of timeSelect" [value]="tim">{{tim.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>What time does it end?</mat-label>
      <mat-select [(ngModel)]="endTime" [disabled]="isEndDisabled">
        <mat-option *ngFor="let endTim of endTimeSelect" [value]="endTim" >{{endTim.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="radio-button">
    <mat-radio-group [(ngModel)]="tipoAgendamento">
      <mat-radio-button class="radio-button" *ngFor="let age of ages" [value]="age">{{age}}</mat-radio-button>
    </mat-radio-group>
  </div>
</div>
<div *ngIf="loading"><mat-spinner></mat-spinner></div>
  </mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial (click)="newSchedule()">Confirm</button>
</mat-dialog-actions>
