<h2 mat-dialog-title>Update Schedule</h2>
<mat-dialog-content class="mat-typography">
  <div class="radio-button">
    <mat-radio-group [(ngModel)]="update">
      <mat-radio-button class='radio-button' *ngFor="let up of ups" [value]="up">{{up}}</mat-radio-button>
    </mat-radio-group>
  </div>
  <div *ngIf="update == atu">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Choose Course</mat-label>
        <mat-select>
          <mat-option value="option1">ADS</mat-option>
          <mat-option value="option2" >Logística</mat-option>
          <mat-option value="option3">Gestão Empresarial</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Choose Subject</mat-label>
        <mat-select>
          <mat-option value="option1">matéria 1</mat-option>
          <mat-option value="option2" >matéria 2</mat-option>
          <mat-option value="option3">matéria 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Choose Ambient</mat-label>
        <mat-select>
          <mat-option value="option1">ambients 1</mat-option>
          <mat-option value="option2" >ambients 2</mat-option>
          <mat-option value="option3">ambients 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Pick a date</mat-label>
        <input matInput [matDatepicker]="datepicker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Wich time is it?</mat-label>
        <mat-select>
          <mat-option value="option1">07:00</mat-option>
          <mat-option value="option2">08:00</mat-option>
          <mat-option value="option3">09:00</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="radio-button">
      <mat-radio-group [(ngModel)]="tipoAgendamento">
        <mat-radio-button class="radio-button" *ngFor="let age of ages" [value]="age">{{age}}</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div *ngIf="update == can">
    <mat-form-field appearance="fill">
      <mat-label>Reason (Optional)</mat-label>
      <mat-select>
        <mat-option value="option1">Holyday</mat-option>
        <mat-option value="option2">Health</mat-option>
        <mat-option value="option3">Outhers</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Confirm</button>
</mat-dialog-actions>