<header class="header-container">
    <div class="header-text">
        Admin - {{navigate}}
    </div>
</header>

<body class="body">
    <div class="side-nav">
        <mat-list class="list" role="list">
            <mat-list-item role="listitem"><button mat-button class="sideButton"
                    (click)="goTo('Ambients')">Ambient</button>
            </mat-list-item>
            <mat-list-item role="listitem"><button mat-button class="sideButton"
                (click)="goTo('Course')">Course</button>
            </mat-list-item>
            <mat-list-item role="listitem"><button mat-button class="sideButton" (click)="goTo('Maintenance')">Maintenance</button>
            </mat-list-item>
            <mat-list-item role="listitem"><button mat-button class="sideButton" (click)="goTo('Subject')">Subject</button>
            </mat-list-item>
            <mat-list-item role="listitem"><button mat-button class="sideButton" (click)="goTo('User')">User</button>
            </mat-list-item>

        </mat-list>
    </div>
    <div class="rigth-body">
        <div *ngIf="navigate=='Course'">
            <app-adm-course></app-adm-course>
        </div>
        <div *ngIf="navigate=='User'">
            <app-adm-users></app-adm-users>
        </div>
        <div *ngIf="navigate=='Ambients'">
            <app-adm-ambients></app-adm-ambients>
        </div>
        <div *ngIf="navigate=='Maintenance'">
            <app-adm-maintenance></app-adm-maintenance>
        </div>
        <div *ngIf="navigate=='Subject'">
            <app-adm-subject></app-adm-subject>
        </div>
    </div>
</body>
<footer></footer>