<header class="header-container">
  <div class="header-text">
    SULA
    <mat-icon class="login" aria-hidden="false" aria-label="Login icon" (click)="goLogin()">login</mat-icon>
  </div>
</header>

<body>
  <div class="display">
    <form class="form">
      <mat-form-field appearance="fill">
        <mat-label>Select Course</mat-label>
        <mat-select [(ngModel)]="selectedCurso" name="curso">
          <mat-option *ngFor="let curso of cursos" [value]="curso.value">
            {{curso.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <form class="form">
      <mat-form-field appearance="fill">
        <mat-label>Select Semester</mat-label>
        <mat-select [(ngModel)]="selectedSemestre" name="semestre">
          <mat-option *ngFor="let semestre of semestres" [value]="semestre.value">
            {{semestre.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <form class="form">
      <mat-form-field appearance="fill">
        <mat-label>Select Shift</mat-label>
        <mat-select [(ngModel)]="selectedPeriodo" name="periodo">
          <mat-option *ngFor="let periodo of periodos" [value]="periodo.value">
            {{periodo.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <div class="radio-button">
      <mat-radio-group [(ngModel)]="tipoData">
        <mat-radio-button *ngFor="let date of dates" [value]="date">{{date}}</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <mat-grid-list name="grid" cols="14" rowHeight="7vh">
       <div *ngIf="tipoData == sem">
      <div>
        <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Dom</mat-grid-tile>
        <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Seg</mat-grid-tile>
        <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Ter</mat-grid-tile>
        <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Qua</mat-grid-tile>
        <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Qui</mat-grid-tile>
        <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Sex</mat-grid-tile>
        <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Sab</mat-grid-tile>
      </div>
      <div>
        <mat-grid-tile class="tile" [colspan]="2" [rowspan]="12"></mat-grid-tile>
        <mat-grid-tile class="tile" [colspan]="2" [rowspan]="12">
          <div>
            <p class="horario" *ngFor="let hora of horas">{{hora.value}}</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile class="tile" [colspan]="2" [rowspan]="12">
          <div>
            <p class="horario" *ngFor="let hora of horas">{{hora.value}}</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile class="tile" [colspan]="2" [rowspan]="12">
          <div>
            <p class="horario" *ngFor="let hora of horas">{{hora.value}}</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile class="tile" [colspan]="2" [rowspan]="12">
          <div>
            <p class="horario" *ngFor="let hora of horas">{{hora.value}}</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile class="tile" [colspan]="2" [rowspan]="12">
          <div>
            <p class="horario" *ngFor="let hora of horas">{{hora.value}}</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile class="tile" [colspan]="2" [rowspan]="12"></mat-grid-tile>
        <mat-grid-tile class="tile" [colspan]="1" [rowspan]="1"></mat-grid-tile>
      </div>
    </div>
    <div *ngIf="tipoData == men">
      <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Dom</mat-grid-tile>
      <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Seg</mat-grid-tile>
      <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Ter</mat-grid-tile>
      <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Qua</mat-grid-tile>
      <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Qui</mat-grid-tile>
      <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Sex</mat-grid-tile>
      <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Sab</mat-grid-tile>
     
      <mat-grid-tile class="tileDiaMa" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">30</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaMa" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">31</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">1</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">2</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">3</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">4</button></mat-grid-tile>

      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">5</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">6</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">7</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">8</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">9</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">10</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">11</button></mat-grid-tile>

      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">12</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">13</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">14</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">15</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">16</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">17</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">18</button></mat-grid-tile>

      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">19</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">20</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">21</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">22</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">23</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaA" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">24</button></mat-grid-tile>
      <mat-grid-tile class="tileDia" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">25</button></mat-grid-tile>

      <mat-grid-tile class="tileDia" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">26</button></mat-grid-tile>
      <mat-grid-tile class="tileDia" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">27</button></mat-grid-tile>
      <mat-grid-tile class="tileDia" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('2022-11-28T07:00:00.000+00:00')">28</button></mat-grid-tile>
      <mat-grid-tile class="tileDia" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">29</button></mat-grid-tile>
      <mat-grid-tile class="tileDia" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">30</button></mat-grid-tile>
      <mat-grid-tile class="tileDia" [colspan]="2" [rowspan]="1">1</mat-grid-tile>
      <mat-grid-tile class="tileDia" [colspan]="2" [rowspan]="1">2</mat-grid-tile>
      <mat-grid-tile class="tileDia" [colspan]="2" [rowspan]="1">3</mat-grid-tile>

    </div>
  </mat-grid-list>
  <!--
  <div class="display">
    <div class="calendar-box">
      <p >{{dia}}</p>
    </div>    
  </div>  -->
</body>