<header class="header-container">
  <div class="header-text">
    SULA
    <mat-icon class="login" aria-hidden="false" aria-label="Login icon" (click)="goLogin()">login</mat-icon>
  </div>
</header>

<body>
  <div class="display">
    <form class="form">
      <mat-form-field appearance="fill">
        <mat-label>Selecione o Curso</mat-label>
        <mat-select [(ngModel)]="selectedCurso" name="curso">
          <mat-option *ngFor="let curso of cursos" [value]="curso.value">
            {{curso.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <form class="form">
      <mat-form-field appearance="fill">
        <mat-label>Selecione o Semestre</mat-label>
        <mat-select [(ngModel)]="selectedSemestre" name="semestre">
          <mat-option *ngFor="let semestre of semestres" [value]="semestre.value">
            {{semestre.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <form class="form">
      <mat-form-field appearance="fill">
        <mat-label>Selecione o Período</mat-label>
        <mat-select [(ngModel)]="selectedPeriodo" name="periodo">
          <mat-option *ngFor="let periodo of periodos" [value]="periodo.value">
            {{periodo.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <div class="radio-button">
      <mat-radio-group [(ngModel)]="tipoData">
        <mat-radio-button *ngFor="let date of dates" [value]="date">{{date}}</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <mat-grid-list name="grid" cols="14" rowHeight="7vh">
       <div *ngIf="tipoData == sem">
      <div>
        <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Dom</mat-grid-tile>
        <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Seg</mat-grid-tile>
        <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Ter</mat-grid-tile>
        <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Qua</mat-grid-tile>
        <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Qui</mat-grid-tile>
        <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Sex</mat-grid-tile>
        <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Sab</mat-grid-tile>
      </div>
      <div>
        <mat-grid-tile class="tile" [colspan]="2" [rowspan]="12"></mat-grid-tile>
        <mat-grid-tile class="tile" [colspan]="2" [rowspan]="12">
          <div>
            <p class="horario" *ngFor="let hora of horas">{{hora.value}}</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile class="tile" [colspan]="2" [rowspan]="12">
          <div>
            <p class="horario" *ngFor="let hora of horas">{{hora.value}}</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile class="tile" [colspan]="2" [rowspan]="12">
          <div>
            <p class="horario" *ngFor="let hora of horas">{{hora.value}}</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile class="tile" [colspan]="2" [rowspan]="12">
          <div>
            <p class="horario" *ngFor="let hora of horas">{{hora.value}}</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile class="tile" [colspan]="2" [rowspan]="12">
          <div>
            <p class="horario" *ngFor="let hora of horas">{{hora.value}}</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile class="tile" [colspan]="2" [rowspan]="12"></mat-grid-tile>
        <mat-grid-tile class="tile" [colspan]="1" [rowspan]="1"></mat-grid-tile>
      </div>
    </div>
    <div *ngIf="tipoData == men">
      <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Dom</mat-grid-tile>
      <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Seg</mat-grid-tile>
      <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Ter</mat-grid-tile>
      <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Qua</mat-grid-tile>
      <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Qui</mat-grid-tile>
      <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Sex</mat-grid-tile>
      <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Sab</mat-grid-tile>

      <mat-grid-tile class="tileDiaMa" [colspan]="2" [rowspan]="1">29</mat-grid-tile>
      <mat-grid-tile class="tileDiaMa" [colspan]="2" [rowspan]="1">30</mat-grid-tile>
      <mat-grid-tile class="tileDiaMa" [colspan]="2" [rowspan]="1">31</mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1">1</mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1">2</mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1">3</mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1">4</mat-grid-tile>

      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1">5</mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1">6</mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1">7</mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1">8</mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1">9</mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1">10</mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1">11</mat-grid-tile>

      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1">12</mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1">13</mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1">14</mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1">15</mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1">16</mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1">17</mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1">18</mat-grid-tile>

      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1">19</mat-grid-tile>
      <mat-grid-tile class="tileDiaA" [colspan]="2" [rowspan]="1">20</mat-grid-tile>
      <mat-grid-tile class="tileDia" [colspan]="2" [rowspan]="1">21</mat-grid-tile>
      <mat-grid-tile class="tileDia" [colspan]="2" [rowspan]="1">22</mat-grid-tile>
      <mat-grid-tile class="tileDia" [colspan]="2" [rowspan]="1">23</mat-grid-tile>
      <mat-grid-tile class="tileDia" [colspan]="2" [rowspan]="1">24</mat-grid-tile>
      <mat-grid-tile class="tileDia" [colspan]="2" [rowspan]="1">25</mat-grid-tile>

      <mat-grid-tile class="tileDia" [colspan]="2" [rowspan]="1">26</mat-grid-tile>
      <mat-grid-tile class="tileDia" [colspan]="2" [rowspan]="1">27</mat-grid-tile>
      <mat-grid-tile class="tileDia" [colspan]="2" [rowspan]="1">28</mat-grid-tile>
      <mat-grid-tile class="tileDia" [colspan]="2" [rowspan]="1">29</mat-grid-tile>
      <mat-grid-tile class="tileDia" [colspan]="2" [rowspan]="1">30</mat-grid-tile>
      <mat-grid-tile class="tileDia" [colspan]="2" [rowspan]="1">1</mat-grid-tile>
      <mat-grid-tile class="tileDia" [colspan]="2" [rowspan]="1">2</mat-grid-tile>

    </div>
  </mat-grid-list>
  <!--
  <div class="display">
    <div class="calendar-box">
      <p >{{dia}}</p>
    </div>    
  </div>  -->
</body>