.header-container{
    background-color: rgb(0, 0, 0);   
}
.header-text{
    padding-top: 1%;
    padding-left: 8vh;
    padding-bottom: 1%;
    font: 25px verdana;
    color: white;
    font-weight: 550;
}
.display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    width: 50vh;
}
.form{
    width: 30vh;
    margin-top: 10px;
}
.btn-log{
    margin-top: 10px;
    background-color: rgb(23, 98, 238) !important;
    color: white;
    width: 15vh !important;
}
.btn-cancel{
    background-color: black !important;
    margin-top: 10px;
    color: white;
    width: 15vh !important;
}