<div *ngIf="selectedLanguage!=='PORTUGUESE'">
  <h2 mat-dialog-title>Schedule</h2>
  <mat-dialog-content class="mat-typography">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Subject Name</mat-label>
        <input matInput type="text" disabled="disable">{{subject.subject.name}}
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Ambient Name</mat-label>
        <input matInput type="text" disabled="disable">{{subject.ambient.name}}
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Start at</mat-label>
        <input matInput type="text" disabled="disable">07:00
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>End at</mat-label>
        <input matInput type="text" disabled="disable">09:00
      </mat-form-field>
    </div>
    <div *ngIf="isUser">
      <button  [mat-dialog-close]="true" mat-raised-button class="btn-primario"  (click)="update()">Update</button> 
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
  </mat-dialog-actions>
</div>
<div *ngIf="selectedLanguage==='PORTUGUESE'">
  <h2 mat-dialog-title>Horário</h2>
  <mat-dialog-content class="mat-typography">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Nome da Matéria</mat-label>
        <input matInput type="text" disabled="disable">{{subject.subject.name}}
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Nome do Ambiente</mat-label>
        <input matInput type="text" disabled="disable">{{subject.ambient.name}}
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Começa</mat-label>
        <input matInput type="text" disabled="disable">07:00
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Termina</mat-label>
        <input matInput type="text" disabled="disable">09:00
      </mat-form-field>
    </div>
    <div *ngIf="isUser">
      <button  [mat-dialog-close]="true" mat-raised-button class="btn-primario"  (click)="update()">Atualizar</button> 
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Fechar</button>
  </mat-dialog-actions>
</div>
