<header class="header-container">
  <div class="header-text">
  {{userName}}'s Schedule  
  </div>
</header>

<body *ngIf="!loading">
  <div class="display">
    <button mat-raised-button class="btn-primario" (click)="newAgeMod()">Create Schedule</button>
    <mat-radio-group [(ngModel)]="tipoData">
      <mat-radio-button class="radio-button" *ngFor="let date of dates" [value]="date">{{date}}</mat-radio-button>
    </mat-radio-group>
  </div>
  <mat-grid-list class="grid" cols="14" rowHeight="7vh">
    <div *ngIf="tipoData === 'Week'">
      <div>
        <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Dom</mat-grid-tile>
        <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Seg</mat-grid-tile>
        <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Ter</mat-grid-tile>
        <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Qua</mat-grid-tile>
        <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Qui</mat-grid-tile>
        <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Sex</mat-grid-tile>
        <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Sab</mat-grid-tile>
      </div>
      <div>
        <mat-grid-tile class="tile-noaula" [colspan]="2" [rowspan]="2">27</mat-grid-tile>
        <mat-grid-tile class="tile-noaula" [colspan]="2" [rowspan]="2">28</mat-grid-tile>
        <mat-grid-tile class="tile-noaula" [colspan]="2" [rowspan]="2">29</mat-grid-tile>
        <mat-grid-tile class="tile-noaula" [colspan]="2" [rowspan]="2">30</mat-grid-tile>
        <mat-grid-tile class="tile-noaula" [colspan]="2" [rowspan]="2">1</mat-grid-tile>
        <mat-grid-tile class="tile-noaula" [colspan]="2" [rowspan]="2">2</mat-grid-tile>
        <mat-grid-tile class="tile-noaula" [colspan]="2" [rowspan]="2">3</mat-grid-tile>
      </div>
      <mat-grid-tile class="tile" [colspan]="2" [rowspan]="2"></mat-grid-tile>
      <mat-grid-tile class="tile-lista-aula" [colspan]="2" [rowspan]="6">
        <div>
          <button mat-raised-button class="botao" (click)="openModal()"  *ngFor="let horaseg of horasegs">{{horaseg.value}}</button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="tile" [colspan]="2" [rowspan]="2"></mat-grid-tile>
      <mat-grid-tile class="tile-lista-aula" [colspan]="2" [rowspan]="6">
        <div *ngIf="!cancel">
          <button mat-raised-button class="botao" (click)="openModal()" *ngFor="let horaqua of horaquas">{{horaqua.value}}</button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="tile" [colspan]="2" [rowspan]="6"></mat-grid-tile>
      <mat-grid-tile class="tile-lista-aula" [colspan]="2" [rowspan]="6">
        <div>
          <button mat-raised-button class="botao" (click)="openModal()" *ngFor="let horasex of horasexs">{{horasex.value}}</button>
        </div>
      </mat-grid-tile>
    </div>

    <div *ngIf="tipoData == men">      
      <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Dom</mat-grid-tile>
      <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Seg</mat-grid-tile>
      <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Ter</mat-grid-tile>
      <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Qua</mat-grid-tile>
      <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Qui</mat-grid-tile>
      <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Sex</mat-grid-tile>
      <mat-grid-tile class="tileSemana" [colspan]="2" [rowspan]="1">Sab</mat-grid-tile>

      
      <mat-grid-tile class="tileDiaMa" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">30</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaMa" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">31</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">1</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">2</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">3</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">4</button></mat-grid-tile>

      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">5</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">6</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">7</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">8</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">9</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">10</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">11</button></mat-grid-tile>

      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">12</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">13</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">14</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">15</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">16</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">17</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">18</button></mat-grid-tile>

      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">19</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">20</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">21</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">22</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">23</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">24</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">25</button></mat-grid-tile>

      <mat-grid-tile class="tileDiaP" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">26</button></mat-grid-tile>
      <mat-grid-tile class="tileDiaA" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">27</button></mat-grid-tile>
      <mat-grid-tile class="tileDia" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('2022-11-28T07:00:00.000+00:00')">28</button></mat-grid-tile>
      <mat-grid-tile class="tileDia" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">29</button></mat-grid-tile>
      <mat-grid-tile class="tileDia" [colspan]="2" [rowspan]="1"><button mat-raised-button class="btn-dia" (click)="openModalDia('')">30</button></mat-grid-tile>
      <mat-grid-tile class="tileDia" [colspan]="2" [rowspan]="1">1</mat-grid-tile>
      <mat-grid-tile class="tileDia" [colspan]="2" [rowspan]="1">2</mat-grid-tile>
      <mat-grid-tile class="tileDia" [colspan]="2" [rowspan]="1">3</mat-grid-tile>


    </div>

  </mat-grid-list>

</body>

<body *ngIf="loading">
  <mat-spinner class="spinner"></mat-spinner>
</body>