<div *ngIf="selectedLanguage!=='PORTUGUESE'">

</div>
<div *ngIf="selectedLanguage==='PORTUGUESE'">

</div>
<h2 mat-dialog-title>Atualizar Curso</h2>
<mat-dialog-content class="mat-typography">
    <div *ngIf="!loading">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Nome atual</mat-label>
                <input matInput type="text" disabled="disable">{{oldName.name}}
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput [(ngModel)]="courseName">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Novo Status (Opcional)</mat-label>
                <mat-select [(ngModel)]="courseStat">
                    <mat-option *ngFor="let stat of courseStatus" [value]="stat.value">
                        {{stat.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>    
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancela</button>
    <button mat-button cdkFocusInitial (click)="updateCourse()">Confirma</button>
</mat-dialog-actions>