<div *ngIf="selectedLanguage!=='PORTUGUESE'">
    <h2 mat-dialog-title>View Subjects</h2>
    <mat-dialog-content class="mat-typography">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Selected Course</mat-label>
                <input matInput type="text" disabled="disable">{{courseName.name}}
            </mat-form-field>
        </div>
        <div>
            <h3>Subjects</h3>
            <h4 *ngFor="let sub of subjects">{{sub.name}}</h4>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>
</div>
<div *ngIf="selectedLanguage==='PORTUGUESE'">
    <h2 mat-dialog-title>Ver Matérias</h2>
    <mat-dialog-content class="mat-typography">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Curso Selecionado</mat-label>
                <input matInput type="text" disabled="disable">{{courseName.name}}
            </mat-form-field>
        </div>
        <div>
            <h3>Matéria</h3>
            <h4 *ngFor="let sub of subjects">{{sub.name}}</h4>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Fechar</button>
    </mat-dialog-actions>
</div>
